<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>org.cryptable.import-ca-firefox</string>
		<key>Program</key>
		<string>/opt/eidonkey/import-ca-firefox</string>
		<key>WorkingDirectory</key>
		<string>/opt/eidonkey/</string>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>